In [4]:
def encrypt(word):
    enc, r = {'a': '0', 'e':'1', 'o':'2', 'u':'3'}, []
    for i, ch in enumerate(list(word[::-1])):
        if ch in enc:
            r.append(enc[ch])
        else:
            r.append(ch)
    return ''.join(r) + 'aca'
encrypt("banana")

'0n0n0baca'

In [5]:
def encrypt(word):
	return word[::-1].translate(str.maketrans('aeou', '0123')) + 'aca'
def encrypt(word):
    v= {'a':'0','e':'1','o':'2','u':'3'}
    return ''.join(v[i] if i in v else i for i in word[::-1]) +'aca'
def encrypt(word):
	word = word[::-1]
	for r in (("a", "0"), ("e", "1"), ("o", "2"), ("u", "3")):
		word = word.replace(*r)
    return word+'aca'

'ts1taca'

In [14]:
def remove_smallest(lst):
    if lst :lst.remove(min(lst))
    return lst
remove_smallest([])

[]

In [11]:
def remove_smallest(lst):
    return [x for x in lst if x != min(lst)]
remove_smallest([1,2,3])

[2, 3]

In [54]:
def is_ord_sub(smlst, biglst):
    if smlst != biglst and sorted(smlst) == sorted(biglst): return False
    a = []
    for sm in smlst:
        b = []
        for i, big in enumerate(biglst):
            if sm == big: 
                b.append(i)
        a.append(b)
    c, d = min(a[0]), []
    for el in a[1:]:
        for el1 in el:
            if el1 > c:
                c = el1
                d.append(c)
                break
    return d == sorted(d) and bool(d)
                     
is_ord_sub([0, 1, 0, 1], [1, 1, 1, 1, 0, 0, 0, 1, 1, 0])

True

In [62]:
def is_ord_sub(smlst, biglst):
    biglst.reverse()
    for ch in biglst.copy():
        if not smlst: return True 
        if biglst.pop() == smlst[0]:
            smlst.remove(smlst[0])     
    return True if smlst == [] else False

is_ord_sub([4, 3, 2], [5, 4, 3, 2, 1])

True

In [3]:
sudoku = [
    [0, 0, 0, 0, 6, 4, 0, 0, 0],
    [7, 0, 0, 0, 0, 0, 3, 9, 0],
    [8, 0, 0, 0, 0, 0, 0, 0, 0],
    [0, 0, 0, 5, 0, 2, 0, 6, 0],
    [0, 8, 0, 4, 0, 0, 0, 0, 0],
    [3, 5, 0, 6, 0, 0, 0, 7, 0],
    [0, 0, 2, 0, 0, 0, 1, 0, 3],
    [0, 0, 1, 0, 5, 9, 0, 0, 0],
    [0, 0, 0, 0, 0, 0, 7, 0, 0]
]
print('- '*11)
for j, satir_sudoku in enumerate(sudoku):
    for i,n in enumerate(satir_sudoku):
        if (i+1)%3==0 and i+1!= 9:
            print(n,'|', end=' ')
        else:
            print(n, end=' ')
    if (j+1)%3==0:
        print('\n'+'- '*11, end='')
    print(end='\n')

- - - - - - - - - - -
0 0 0 | 0 6 4 | 0 0 0
7 0 0 | 0 0 0 | 3 9 0
8 0 0 | 0 0 0 | 0 0 0
- - - - - - - - - - -
0 0 0 | 5 0 2 | 0 6 0
0 8 0 | 4 0 0 | 0 0 0
3 5 0 | 6 0 0 | 0 7 0
- - - - - - - - - - -
0 0 2 | 0 0 0 | 1 0 3
0 0 1 | 0 5 9 | 0 0 0
0 0 0 | 0 0 0 | 7 0 0
- - - - - - - - - - -

In [ ]:
sudoku = [
    [0, 0, 0, 0, 6, 4, 0, 0, 0],
    [7, 0, 0, 0, 0, 0, 3, 9, 0],
    [8, 0, 0, 0, 0, 0, 0, 0, 0],
    [0, 0, 0, 5, 0, 2, 0, 6, 0],
    [0, 8, 0, 4, 0, 0, 0, 0, 0],
    [3, 5, 0, 6, 0, 0, 0, 7, 0],
    [0, 0, 2, 0, 0, 0, 1, 0, 3],
    [0, 0, 1, 0, 5, 9, 0, 0, 0],
    [0, 0, 0, 0, 0, 0, 7, 0, 0]
]
row, count = '', 3
for j, sud in enumerate(sudoku):
    for i, ch in enumerate(sud):
        if count == 3:
            print(11 * '- ')
            count = 0
        row += str(ch) if i % 3 else '|' + str(ch)
    count += 1
    print(*row[1:])
    row = ''
print(11 * '- ')

In [ ]:
def is_ord_sub(s, b):
	for i in s:
		if i in b:
			b = b[b.index(i)+1:]
		else:
			return False
	return True

In [ ]:
def is_ord_sub(smlst, biglst):
	for x in reversed(biglst):
		if smlst and x == smlst[-1]:
				smlst.pop()
	return smlst == []

In [ ]:
def encrypt(word):
	return word[::-1].translate(str.maketrans('aeou', '0123')) + 'aca'

In [15]:
def atbash(txt):
    a = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz'
    b, c = a[::-1], {}
    for k, v in zip(a, b):
        c[k] = v
    return ''.join(c[ch] if ch in a else ch for ch in txt).swapcase()

atbash("abcdefghijklmnopqrstuvwxyz")

'zyxwvutsrqponmlkjihgfedcba'

In [16]:
def atbash(txt):
    new = ''
    for ch in txt:
        if 65 <= ord(ch) <= 90:
            new += chr(ord(ch) + 32)
        elif 97 <= ord(ch) <= 122:
            new += chr(ord(ch) - 32)
        else:
            new += ch
    return new
atbash("abcdefghijklmnopqrstuvwxyz")

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [22]:
def sum_of_evens(lst):
    total = 0
    for n_1 in lst:
        for n_2 in n_1:
            if n_2 % 2 == 0:
                total += n_2
    return total

sum_of_evens([
		[1, 3, 7, 9], 
		[11, 13, 15, 17], 
		[19, 21, 23, 25]
	])

0

In [29]:
def sum_of_evens(lst):
    return sum([n_2 for n_1 in lst for n_2 in n_1 if n_2 % 2 == 0 ])
sum_of_evens([
		[1, 3, 7, 9], 
		[11, 13, 15, 17], 
		[19, 21, 23, 25]
	])

0

In [59]:
def advanced_sort(lst):
    result = []
    lst.reverse()
    while lst:
        item = [lst.pop()]
        for el in lst.copy():
            if el == item[0]:
                item.append(el)
                lst.remove(el)
        result.append(item)   
    return result
    
    
advanced_sort([1,2,1,2])

[[1, 1], [2, 2]]

In [ ]:
def advanced_sort(lst):
	return [[i] * lst.count(i) for i in sorted(set(lst), key=lst.index)]

In [62]:
def advanced_sort(ls):
    out = []
    for el in ls:
        s = [x for x in ls if x == el]
        print(s)
        if s not in out:
            out.append(s)
    return out
advanced_sort([1,2,1,2])

[1, 1]
[2, 2]
[1, 1]
[2, 2]

[[1, 1], [2, 2]]

In [61]:
['r'] * 2

['r', 'r']

In [72]:
data = ["eat", "tea", "tan", "ate", "nat", "bat"]
# main = []
# data.reverse()
# while data:
#     item = [data.pop()]
#     for each in data.copy():
#         if sorted(item[0]) == sorted(each):
#             item.append(each)
#             data.remove(each)
#     main.append(item)  
out = []
for el in data:
    s = [x for x in data if sorted(el) == sorted(x)]
    if s not in out: out.append(s)
print(out)
# print(main)

[['eat', 'tea', 'ate'], ['tan', 'nat'], ['bat']]

In [73]:
data = ["eat", "tea", "tan", "ate", "nat", "bat"]
result = []
for el in data:
    s = [x for x in data if sorted(el) == sorted(x)]
    if s not in result: result.append(s)
print(result)

[['eat', 'tea', 'ate'], ['tan', 'nat'], ['bat']]

In [15]:
def get_type(value):
    a = str(type(value)).index("'")
    b = str(type(value)).index("'", a + 1)
    return str(type(value))[a + 1:b]
#     print(type(value))
get_type([])

'list'

In [18]:
def one_odd_one_even(n):
    for i, c in enumerate(str(n)):
        if int(c) % 2 == int(str(n)[i -1]) % 2:
            return False
            break
    else: return True
    
one_odd_one_even(22) 
def one_odd_one_even(n):
	return n//10%2 != n%10%2

False