In [3]:
print(len(set('listen to the voice of enlisted')))
for i, a in enumerate(set('listen to the voice of enlisted')):
    print(i + 1, a)

13
1 t
2 i
3 s
4 h
5 v
6 n
7 o
8 e
9 d
10 f
11
12 l
13 c

In [7]:
numbers = {}

numbers['x'] = 12
numbers['y'] = 4
numbers.update({'z': 3})

print(numbers['x'] + numbers['y'] + numbers['z']**2)

25

In [8]:
numbers_10 = [10, 30, 40, 50, 60, 70, 80, 90, 100]
numbers_10.insert(1, 20)
print(numbers_10)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [9]:
fruits_vegetables = ["fruit", "vegetable", ["apple", "banana", ["mango", "avocado"]], 
                     ["spinach", "broccoli"]]
print(fruits_vegetables[3][0])

spinach

In [10]:
text = 'test'
't' in text

True

In [61]:
num1 = 5
num2 = 6
result = [num2 ** i for i in range(num1 + 1)]
print(result)

[1, 6, 36, 216, 1296, 7776]

In [63]:
num1 = 5
num2 = 6
result = [num2 ** num1 for num1 in range(num1 + 1)]
print(result)

[1, 6, 36, 216, 1296, 7776]

In [62]:
num2 = 6
result = [num2 ** i for i in range(num1 + 1) if i > 2]
print(result)

[216, 1296, 7776]

In [48]:
def lcm(n1, n2):
    i = max(n1, n2)
    while i%n1 or i%n2:
        i += 1
    return i
lcm(55, 150)

1650

In [58]:
import time
start = time.time()
def lcm(n1, n2):
    num = max([x for x in range(1, max(n1, n2) + 1) if n1 % x == 0 and n2 % x == 0])
    return int(num * n1/num * n2/num)
lcm(55, 150)
end  = time.time()
print(end-start)

0.0

In [55]:
def lcm(n1, n2):
    i = max(n1, n2)
    while i%n1 or i%n2:
        i += 1
    return i
lcm(55, 150)
end  = time.time()
print(end-start)

8.339457750320435

In [14]:
#country = [['Gana', 'South Africa', 'Ethiopia'], ['Germany' ,'France', 'Nederlands', 'Greece'], 'Turkey', 'New Zealand']
#
#print(country)
#
#print(type(country))
#string_1 = 'I will be a good DevOps Engineer'
#
#new_list_1 = list(string_1)  # we created multi element list
#print(new_list_1)
#print(len(new_list_1))
#
#
#new_list_2 = [string_1]  # this is a single element list
#print(new_list_2)
#print(len(new_list_2))
#list_1 = list()
#list_1 = []
#
#list_1 = list(range(1,11,1))
#list_1 = [*range(1,11,1)]
#
#
#print(list_1)
#list_1.append('234')
#list_1.append('peace')
#
#print(list_1) 
#list_1 = [1,2,3,4,5,6]
##list_1.extend([10,11])
##print(list_1) 
###Output : [1, 2, 3, 4, 5, 6, 10, 11]
#
#list_1.append([10,11])
#print(empty_list_1) 
#Output : [1, 2, 3, 4, 5, 6, [10, 11]]
# list_1 = [1,2,3,4,5,6,7,8,9]
# list_1 += '67'
# list_1 += [67]
# list_1 += [67,78]
# #
# print(list_1)
#[1, 2, 3, 4, 5, 6, 7, 8, 9, '6', '7', 67, 78]
#grocer = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
#grocer.insert(3, 'strawberry')
#print(grocer)
#Output : ['apple', 'banana', 'cherry', 'strawberry', 'orange', 'kiwi', 'melon', 'mango']
#grocer = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
#grocer[1] = 'strawberry'
#print(grocer) 
#Output : 'apple', 'strawberry', 'cherry', 'orange', 'kiwi', 'melon', 'mango']
#city = ['New York', 'London', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa', 'London', 'London']
#city.remove('London')
#city.remove('London')
#city.remove('London')
#print(city)  
#city = ['Addis Ababa', 'Istanbul', 'New York', 'Seoul', 'Stockholm', 'Sydney']
#print(len(city))
#my_list = [1, 3, 5, 7]
#print(my_list * 3)
#print(len(my_list*3))
#grocer = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
#grocer_1 = grocer[5]
#print(grocer_1)
#
#grocer_2 = ["apple", "banana", ["cherry", ["orange", "kiwi"], "melon", "mango"]]
#grocer_3 = print(grocer_2[1])
#print(grocer_3)
#grocer = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
#grocer1 = grocer.index('orange')  # adı geçen elemanın hangi indexte yer aldığını söyler
#print(grocer1)
#output : 3
#num = [102, -3, 45, 67, 78, -54, 98, -1222, 456, -34, 0]
#
#num.sort()
#
#print(num)
#list_1 = ['one', 'four', 'nine']
#list_2 = ['*.','@','False']
#list_3 = [True, False]
#list_4 = [[3], [44],[-12]]
#list_5 = [[1,3],[44,0],[-12,1]]
#list_5.sort()
#print(list_5)
list_1 = [1,2,3,4,5,6,7,8,9]
list_2 = [43, 56, 67]
list_1[0:1] = list_2
print(list_1)
list_1 = [1,2,3,4,5,6,7,8,9]
list_2 = [43, 56, 67]
# list_1.insert(0, list_2)
print(list_1)
for z in list_2:
    list_1.insert(0, z)
print(list_1)
#Output : [43, 56, 67, 3, 4, 5, 6, 7, 8, 9] 
# [0:2], [0:2], [0:5]versiyonlarında ne olduğunu göster
#list_1 = [1,2,3,4,5,6,7,8,9]
#del list_1[0:6]
#print(list_1)
#list_1 = [1,2,3,4,5,6,7,8,9]
#del list_1[0:9:2]
#print(list_1)
#list_1.clear()
#print(list_1)
#list_1 = [1,2,3,4,5,6,7,8,9]
#del list_1[:]
#print(list_1)
#list_1 = [1,2,3,4,5,6,7,8,9]
#list_1 += [67]
#
#print(list_1)
#list1 = [ 1, 2, 3, 4, 5, 6 ] 
  
#print(list1.pop())
#print(list1)
#list2 = [1, 2, 3, ('cat', 'bat'), 4] 
# Pop last three element 
#print(list2.pop()) 
##print(list2)
#print(list2.pop()) 
##print(list2)
#print(list2.pop())
##print(list2)
## Print list 
#print("New List after pop : ", list2, "\n") 
#list_1 = [1,2,3,4,5,6,7,8,9,'istanbul']
#list_1.reverse()
#print(list_1)
#
#['istanbul', 9, 8, 7, 6, 5, 4, 3, 2, 1]

#my_list = [-45, 6,3,9,0,-23,-34,15]
#my_list.sort()
#print(my_list)
#my_list.sort(reverse=True)
#print(my_list)
#listem = [x**2 for x in (1,2,3,4,5)]
#print(listem)

[43, 56, 67, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[67, 56, 43, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
liste = [1, 2, 3, 4, 5]
liste.sort(reverse=True) # makes the list reverse
liste.reverse()  # makes the list reverse
print(liste[::-1])  # makes the list reverse and it is printable :)

[5, 4, 3, 2, 1]

In [4]:
def make_abba(a, b):
    return a + b + a + b

make_abba('Hi', 'Bye')

'HiByeHiBye'

In [15]:
def double_char(str):
    a = list(
    b = []
    for ch in a:
        b.append(ch * 2)
    return str(b)
double_char('sdsad')

TypeError: 'str' object is not callable

In [17]:
def double_char(str):
    a = ''
    for ch in str:
        a = a.join(ch * 2)
    return a

double_char('test')

'tsettest'

In [43]:
str1 = list('talha')
str2 = list('serdar')
print(str1 + str2)

['t', 'a', 'l', 'h', 'a', 's', 'e', 'r', 'd', 'a', 'r']

In [46]:
str1 = list('talha')
str2 = 'serdar'
print(str1 * 3)
print(str2 * 3)

['t', 'a', 'l', 'h', 'a', 't', 'a', 'l', 'h', 'a', 't', 'a', 'l', 'h', 'a']
serdarserdarserdar

In [53]:
phrase = 'I have %s %s and %.1f brothers' % (8, "jj", 5)  
print (phrase)

I have 8 jj and 5.0 brothers

In [14]:
my_dic = {1:'One', 2:'Two', 3:'Three'}
print(str(my_dic))
print(my_dic)
my_dic[1] = 'Bir'
print(my_dic)

{1: 'One', 2: 'Two', 3: 'Three'}
{1: 'One', 2: 'Two', 3: 'Three'}
{1: 'Bir', 2: 'Two', 3: 'Three'}

In [12]:
my_family = {1: {'name':'Adam','surname':'Smith'},2: {'name':'John M','surname':'Keynes'}}
my_family.update({3: {'name':'new_family', 'surname':'new_member'}})
print(my_family)
my_list = list(my_family)
my_list

{1: {'name': 'Adam', 'surname': 'Smith'}, 2: {'name': 'John M', 'surname': 'Keynes'}, 3: {'name': 'new_family', 'surname': 'new_member'}}

[1, 2, 3]